def login() :
    password = "admin123
    attempts = 3

while attempts > 0:
    if user_input = input ("Enter Password :")
      print("Login successful!")
      break
    else: attempts = attempts - 1
    print("incorrect password attempts remaining", attempts)
   if attempts == 0:
       import subprocess
    cmd='rundll32.exe user32.dll, LockWorkStation'
    subprocess.call(cmd)
